name: polkawallet_sdk
description: Flutter SDK for building plugin package for polkawallet.
version: 0.2.1
homepage: https://polkawallet.io

environment:
  sdk: ">=2.10.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.0
  webview_flutter: ^2.0.7
  flutter_inappwebview: ^5.3.2
  shared_preferences: ^2.0.5
  get_storage: ^2.0.2
  json_annotation: ^4.0.1
  flutter_aes_ecb_pkcs5: ^0.1.1
  convert: ^3.0.0
  mobx: ^2.0.1
  jaguar: ^3.0.10
  jaguar_flutter_asset: ^3.0.0

dev_dependencies:
  mobx_codegen: ^2.0.1+3
  flutter_test:
    sdk: flutter
  build_runner: ^2.0.3
  json_serializable: ^4.1.2

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
   assets:
     - lib/ssl/certificate.pem
     - lib/ssl/keys.pem
     - assets/index.html
     - js_api/dist/main.js
     - js_as_extension/dist/main.js
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
